@use "../../scss/abstracts/mixins" as *;

.LastPostsArticleCards {
  @include flex(center, flex-start);
  gap: 1rem;
  padding: 0 1rem;
  margin-top: 2rem;
  row-gap: 2rem;
}

.buttonContainer {
  @include flex(center, center);
  width: 100%;
  button {
    color: white;
  }
}